<footer class="footer">
    <div class="fpart-first">
        <div class="container">
            <div class="row">
                <div class="contact col-lg-4 col-md-4 col-sm-12 col-xs-12 vd">
                    <header>
                        <h5> تماس با ما </h5>
                    </header>
                    <p>قالب HTML فروشگاهی مارکت شاپ. این یک بلاک مدیریت محتواست. شما میتوانید هر نوع محتوای html نوشتاری یا تصویری را در آن قرار دهید.</p>
                    <img alt="" src="">
                </div>
                <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12 vd">
                    <header>
                        <h5> تماس با ما </h5>
                    </header>
                    <ul>
                        <li><a href="about-us.html">درباره ما</a></li>
                        <li><a href="about-us.html">اطلاعات 0 تومان</a></li>
                        <li><a href="about-us.html">حریم خصوصی</a></li>
                        <li><a href="about-us.html">شرایط و قوانین</a></li>
                    </ul>
                </div>
                <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12 vd">
                    <header>
                        <h5> تماس با ما </h5>
                    </header>
                    <ul>
                        <li><a href="contact-us.html">تماس با ما</a></li>
                        <li><a href="#">بازگشت</a></li>
                        <li><a href="sitemap.html">نقشه سایت</a></li>
                    </ul>
                </div>
                <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12 vd">
                    <header>
                        <h5> تماس با ما </h5>
                    </header>
                    <ul>
                        <li><a href="#">برند ها</a></li>
                        <li><a href="#">کارت هدیه</a></li>
                        <li><a href="#">بازاریابی</a></li>
                        <li><a href="#">ویژه ها</a></li>
                    </ul>
                </div>
                <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12 vd">
                    <header>
                        <h5> تماس با ما </h5>
                    </header>
                    <article>
                        <p><i class="fa fa-map-o"></i> نشانی : تهران ، خیابان شریعتی ، ابتدای خیابان ملک ، کوچه ایرانیاد ، پلاک 1 ، آموزشگاه برنامه نویسان</p>
                        <p><i class="fa fa-volume-control-phone"></i> 021-88454816 </p>
                        <p><i class="fa fa-envelope"></i> info@barnamenevisan.com</p>
                        <p><i class="fa fa-fax"></i> 021-88454816 </p>
                    </article>
                </div>
            </div>
        </div>
    </div>

</footer>
