@model sonorous.Datalayer.Entites.User.User
@{
    ViewData["Title"] = "_AvtivateEmail";
}
<div style="direction:rtl;padding:20px">
    <h2>@Model.Username !عزیز</h2>
    <p>جهت بازیابی گلمه عبوری خود لطفا روی لینک کلیک کنید</p>
    <a href="https://localhost:44396/Account/ResetPassword/@Model.Activecode">بازیابی گلمه عبوری</a>
</div>


