<header class="header">
    <ul class="nav">
        <div class="top-left">
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link" href="/UserPanel"><i class="zmdi zmdi-account"></i>@User.Identity.Name خوش امدید</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Logout"><i class="fa fa-sign-out" aria-hidden="true"></i>خروج</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Login"><i class="fa fa-sign-in" aria-hidden="true"></i>ورود</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Register"><i class="zmdi zmdi-account-add" aria-hidden="true"></i> ثبت نام</a>
                </li>
            }
        </div>
        <div class="top-right">
            <li class="nav-item ">
                <a class="nav-link active" href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            </li>
        </div>
    </ul>
    <div class="middle-top">
        <div class="md-right">
            <img src="/img/Untitled-1.png" alt="">
        </div>
        <div class="md-left">
            <div id="cart">
                <button type="button" data-toggle="dropdown" data-loading-text="بارگذاری ..." class="heading dropdown-toggle">
                    <span class="cart-icon"></span>
                    <span id="cart-total">2 آیتم - 132000 تومان</span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="text-center">
                                        <a href="product.html"><img class="img-thumbnail" title="کفش راحتی مردانه" alt="کفش راحتی مردانه" src="img/Valeera_HoW.png"></a>
                                    </td>
                                    <td class="text-left"><a href="product.html">کفش راحتی مردانه</a></td>
                                    <td class="text-right">x 1</td>
                                    <td class="text-right">32000 تومان</td>
                                    <td class="text-center"><button class="btn btn-danger btn-xs remove" title="حذف" onclick="" type="button"><i class="fa fa-times"></i></button></td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <a href="product.html"><img class="img-thumbnail" title="تبلت ایسر" alt="تبلت ایسر" src="img/Valeera_HoW.png"></a>
                                    </td>
                                    <td class="text-left"><a href="product.html">تبلت ایسر</a></td>
                                    <td class="text-right">x 1</td>
                                    <td class="text-right">98000 تومان</td>
                                    <td class="text-center"><button class="btn btn-danger btn-xs remove" title="حذف" onclick="" type="button"><i class="fa fa-times"></i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                    <li>
                        <div>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td class="text-right"><strong>جمع کل</strong></td>
                                        <td class="text-right">132000 تومان</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right"><strong>کسر هدیه</strong></td>
                                        <td class="text-right">4000 تومان</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right"><strong>مالیات</strong></td>
                                        <td class="text-right">11880 تومان</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right"><strong>قابل پرداخت</strong></td>
                                        <td class="text-right">139880 تومان</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="checkout"><a href="cart.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> مشاهده سبد</a>&nbsp;&nbsp;&nbsp;<a href="checkout.html" class="btn btn-primary"><i class="fa fa-share"></i> تسویه حساب</a></p>
                        </div>
                    </li>
                </ul>

            </div>
            <form method="get" action="/Products" class="form-inline  my-lg-0">
                <input class="form-control mr-sm-2" name="filter" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-prepend">
                    <button class="input-group-text" id="basic-addon1">
                        <i class="fa fa-search" aria-hidden="true"></i></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="div-button">
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-align-justify"></i></span>
            </button>
        </div>
        <div class="div-nav collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                @await Component.InvokeAsync("ProductsGroupComponent")
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>

        </div>
    </nav>



</header>