<section class="sidebar">
    <div class="sidebars">
        <div class="order-list">
            <header class="sidebar-header">
                <h2>سبد خرید</h2>
            </header>
            <ul class="list-group">
                <li class="list-group-item align-items-center">
                    <a href="">
                        <img src="/img/photo_2020-09-01_20-55-15.jpg" alt=""> Cras justo odio
                        <span class="badge badge-primary badge-pill ">14</span>
                        <i href="ss" class="fa fa-user-secret" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="list-group-item align-items-center">
                    <a href="">
                        <img src="/img/photo_2020-09-01_20-55-15.jpg" alt=""> Cras justo odio
                        <span class="badge badge-primary badge-pill ">14</span>
                        <i href="ss" class="fa fa-user-secret" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="list-group-item align-items-center">
                    <a href="">
                        <img src="/img/photo_2020-09-01_20-55-15.jpg" alt=""> Cras justo odio
                        <span class="badge badge-primary badge-pill ">14</span>
                        <i href="ss" class="fa fa-user-secret" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="list-group-item align-items-center">
                    <a href="">
                        <img src="/img/photo_2020-09-01_20-55-15.jpg" alt=""> Cras justo odio
                        <span class="badge badge-primary badge-pill ">14</span>
                        <i href="ss" class="fa fa-user-secret" aria-hidden="true"></i>
                    </a>
                </li>
                <button class="btn" type="submit">submit</button>
            </ul>
        </div>
        <div class="favorite-list">
            <header class="sidebar-header">
                <h2>مورد علاقه ها</h2>
            </header>
            <ul class="list-group">
                <li class="list-group-item align-items-center">
                    <a href="">
                        <img src="/img/photo_2020-09-01_20-55-15.jpg" alt=""> Cras justo odio
                        <span class="badge badge-primary badge-pill ">14</span>
                        <i href="ss" class="fa fa-user-secret" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="list-group-item align-items-center">
                    <a href="">
                        <img src="/img/photo_2020-09-01_20-55-15.jpg" alt=""> Cras justo odio
                        <span class="badge badge-primary badge-pill ">14</span>
                        <i href="ss" class="fa fa-user-secret" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="list-group-item align-items-center">
                    <a href="">
                        <img src="/img/photo_2020-09-01_20-55-15.jpg" alt=""> Cras justo odio
                        <span class="badge badge-primary badge-pill ">14</span>
                        <i href="ss" class="fa fa-user-secret" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="list-group-item align-items-center">
                    <a href="">
                        <img src="/img/photo_2020-09-01_20-55-15.jpg" alt=""> Cras justo odio
                        <span class="badge badge-primary badge-pill ">14</span>
                        <i href="ss" class="fa fa-user-secret" aria-hidden="true"></i>
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="products-group">
        <header class="sidebar-header">
            <h2>دسته بندی محصولات</h2>
        </header>
        <ul class="category-menu">
            <li>
                <a href="">fdsss</a>
                <ul class="child-category-menu">
                    <li>
                        <a href="">
                            sdsd
                        </a>
                    </li>
                    <li>
                        <a href="">
                            sdsd
                        </a>
                    </li>
                    <li>
                        <a href="">
                            sdsd
                        </a>
                    </li>
                    <li>
                        <a href="">
                            sdsd
                        </a>
                    </li>
                </ul>

            </li>
            <li>
                <a href="">fdsss</a>
                <ul class="child-category-menu">
                    <li>
                        <a href="">
                            sdsd
                        </a>
                    </li>
                    <li>
                        <a href="">
                            sdsd
                        </a>
                    </li>
                    <li>
                        <a href="">
                            sdsd
                        </a>
                    </li>
                    <li>
                        <a href="">
                            sdsd
                        </a>
                    </li>
                </ul>

            </li>

            <li>
                <a href="">fdsss</a>
                <ul class="child-category-menu">
                    <li>
                        <a href="">
                            sdsd
                        </a>
                    </li>
                    <li>
                        <a href="">
                            sdsd
                        </a>
                    </li>
                    <li>
                        <a href="">
                            sdsd
                        </a>
                    </li>
                    <li>
                        <a href="">
                            sdsd
                        </a>
                    </li>
                </ul>

            </li>
            <li>
                <a href="">fdsss</a>
                <ul class="child-category-menu">
                    <li>
                        <a href="">
                            sdsd
                        </a>
                    </li>
                    <li>
                        <a href="">
                            sdsd
                        </a>
                    </li>
                    <li>
                        <a href="">
                            sdsd
                        </a>
                    </li>
                    <li>
                        <a href="">
                            sdsd
                        </a>
                    </li>
                </ul>

            </li>
            <li>
                <a href="">fdsss</a>
                <ul class="child-category-menu">
                    <li>
                        <a href="">
                            sdsd
                        </a>
                    </li>
                    <li>
                        <a href="">
                            sdsd
                        </a>
                    </li>
                    <li>
                        <a href="">
                            sdsd
                        </a>
                    </li>
                    <li>
                        <a href="">
                            sdsd
                        </a>
                    </li>
                </ul>

            </li>


        </ul>
    </div>
</section>