@page "{id}"
@model sonorous.Pages.Admin.Roles.DeleteRoleModel
@{
    ViewData["Title"] = "حذف نقش";
}

<div class="container alert alert-danger">
    <form method="post">
        <input type="hidden" asp-for="Role.RoleID" />
        <input type="hidden" asp-for="Role.Roletitle" />
         <h2>ایا از حذف نقش "@Model.Role.Roletitle" مطمئن هستید؟</h2>
        <p>
            <input type="submit" value="حذف کن" class="btn btn-outline btn-danger" />
            <a asp-page="Index" class="btn btn-outline btn-info">انصراف</a>
        </p>
    </form>
</div> 
