@model sonorous.Core.DTOs.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePasswor";
}

    <main>
        <div class="container">
            <div class="user-account">
                <div class="row">
                    <partial name="_Sidebars" />
                    <div class="col-md-9 col-sm-8 col-xs-12">
                        <section class="user-account-content">
                            <header>
                                <h1> تغییر کلمه عبوری </h1>
                            </header>
                            <div class="inner form-layer">
                                <form asp-action="ChangePassword" method="post">
                                    @if (ViewBag.issuccess != null)
                                    {
                                        <div class="alert alert-success">
                                            کلمه عبوری شما با موفقیت ویرایش شد
                                        </div>
                                    }
                                   
                                    <div class="row">
                                        <div class="col-md-7 col-sm-8 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                                                <input asp-for="OldPassword" type="password" class="form-control" placeholder="کلمه عبوری فعلی" aria-describedby="oldpassword">
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-sm-8 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                                                <input asp-for="Password" type="password" class="form-control" placeholder="کلمه عبوری">
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-sm-8 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                                                <input asp-for="RePassword" type="password" class="form-control" placeholder="تکرار کلمه عبوری ">
                                            </div>
                                        </div>
                                        <div class="text-danger" asp-validation-summary="All"></div>
                                        <div class="col-md-7 col-sm-8 col-xs-12">
                                            <button class="btn btn-success"> ویرایش اطلاعات </button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </main>


