@model sonorous.Core.DTOs.EditProfileViewModel
@{
    ViewData["Title"] = "EditProfile";
}

    <main>
        <div class="container">
            <div class="user-account">
                <div class="row">
                    <partial name="_Sidebars" />
                    <div class="col-md-9 col-sm-8 col-xs-12">
                        <section class="user-account-content">
                            <header>
                                <h1> ویرایش حساب کاربری </h1>
                            </header>
                            <div class="inner form-layer">
                                <form asp-action="EditProfile" method="post" enctype="multipart/form-data">
                                    @if (ViewBag.issuccess != null)
                                    {
                                        <div class="alert alert-success">
                                            اطلاعات کاربری شما با موفقیت ویرایش شد
                                        </div>
                                    }
                                    <input type="hidden" asp-for="AvatarName" />
                                    <div class="row">
                                        <div class="col-md-7 col-sm-8 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="username"><i class="zmdi zmdi-account"></i></span>
                                                <input asp-for="Username" type="text" class="form-control" placeholder="نام کاربری" aria-describedby="username">
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-sm-8 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                                                <input asp-for="Email" type="text" class="form-control" placeholder="ایمیل" aria-describedby="email-address">
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-sm-8 col-xs-12">
                                           <p class="help-block">عکس</p>
                                            <input type="file" asp-for="Useravatar"  />
                                            <p> لطفا فقط عکس انتخاب کنید</p>
                                            <img src="/UserAvatar/@Model.AvatarName"style="max-width:150px" class="thumbnail" />
                                        </div>

                                        <div class="col-md-7 col-sm-8 col-xs-12">
                                            <button class="btn btn-success"> ویرایش اطلاعات </button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </main>
