
@{
    ViewData["Title"] = "ActiveAccount";
}

    <div class="container">
        @if (ViewBag.isactive)
        {
            <div class="alert alert-success my-3 text-right">
                <p>حساب کاربری شما با موفقیت فعال شد</p>
                <p>
                    <a href="/Login">ورود به سایت</a>
                </p>
            </div>

        }
        else
        {
            <div class="alert alert-danger my-3 text-right">
                <p>حساب کاربری با مشخصات ارسال شده یافت نشد</p>
               
            </div>
        }

    </div>
