@model sonorous.Core.DTOs.ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
}
    <main class="client-page">
        <div class="container-content">
            @if (ViewBag.issuccess != null)
            {
                <div class="alert alert-success text-right">
                    <p>ایمیل بازیابی کلمه عبوری ارسال شد</p>
                </div>
               
               
            }
            <header>
                <h2> بازیابی کلمه عبوری </h2>
            </header>

            <div class="form-layer">

                <form action="ForgotPassword" method="post">

                    <div class="input-group">
                        <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i>|<i class="zmdi zmdi-account"></i></span>
                        <input asp-for="Email" type="text" class="form-control" name="Email" placeholder="ایمیل" aria-describedby="email-address">
                    </div>

                    
                    <div asp-validation-summary="All" class="text-left text-danger"></div>
                    <div class="links">
                       
                        <button class="btn btn-success"> ارسال </button>
                    </div>

                </form>
            </div>

        </div>

    </main>
