@model sonorous.Core.DTOs.ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
}

<main class="client-page">
    <div class="container-content">
        <header>
            <h2> بازیابی کلمه عبوری </h2>
        </header>
        <div class="form-layer">
            <form asp-action="ResetPassword" method="post">
               <input type="hidden" asp-for="ActiveCode" />
               <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="Password" type="password" class="form-control" placeholder="رمز عبور جدید " aria-describedby="password">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="RePassword" type="password" class="form-control" placeholder="تکرار رمز عبور " aria-describedby="password">
                </div>
                <div asp-validation-summary="All" class="text-danger">

                </div>
                <div class="links">
                    <button class="btn btn-success"> ثبت تغییرات </button>
                </div>
            </form>
        </div>

    </div>

</main>


