@model sonorous.Datalayer.Entites.User.User
@{
    ViewData["Title"] = "SuccedRegister";
}

    <main class="client-page">
        <div class="container">
            
                <div class="alert alert-success my-3 text-right">
                    <h2>@Model.Username! عزیز</h2>
                    <p>با تشکر از شما ثبت نام شما انجام شد لطفا به ایمیل خود مراجعه کرده و حساب کاربری خود را فعال کنید</p>
                </div>
            </div>
        </div>
        </main>


