.saving {
    background: yellow;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
    display: block;
    font-size: 15px;
    font-weight: bold;
    height: 50px;
    line-height: 40px;
    position: absolute;
    right: 10px;
    text-align: center;
    width: 40px;
}

.caption {
    padding: 2px 1rem;
    margin: 1rem 1rem;
    a {
        font-size: 40;
        color: white;
        display: flex;
        justify-content: center;
        &:hover {
            text-decoration: none;
            color: yellow;
        }
    }
}

.price-old {
    color: #F00;
    text-decoration: line-through;
    font-weight: normal;
    font-size: 12px;
}

.price {
    margin: 5px 16px;
    font-size: 20;
    color: white;
}

.rating {
    font-size: 6;
    text-align: center;
    color: gold;
}

.button-group {
    display: flex;
    justify-content: space-evenly;
}

.afzoden {
    margin: 0rem 1.2rem;
    font-size: 17;
    background-color: black;
    border: 1px solid gold;
    color: white;
    display: block;
    width: 100px;
    transition: all .3s ease-out;
    &:hover {
        background-color: yellow;
        border: 1px solid black;
        color: black;
    }
}

.favorite {
    background-color: yellow;
    border: 1px solid gold;
    color: black;
    display: block;
    width: 26px;
    height: 26px;
}

.add-to-links {
    margin: .5rem 0;
}

.category-menu>li {
    line-height: 26px;
}

.category-menu>li::before {
    position: absolute;
    font-family: 'FontAwesome';
    content: '\f115';
    font-size: 15px;
    color: #69686D;
    right: 10px;
}

.child-category-menu>li::before {
    position: absolute;
    font-family: 'FontAwesome';
    content: '\f0d9';
    color: #69686D;
    font-size: 15px;
    right: 35px;
}

article ul li::after {
    display: block;
    clear: both;
    content: '';
    visibility: hidden;
    height: 0;
    line-height: 0;
}

.colors-ui-span-check {
    cursor: pointer;
    border: 1px solid #dedede;
    border-radius: 8px;
    padding: 5px 16px;
    color: #6f6f6f;
    font-size: .929rem;
    line-height: 1.692;
    display: block;
}

.ssa {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: .9rem;
    color: #000;
}

.slick-prev {
    display: block;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 30px;
    height: 90px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: white;
    opacity: .6;
    outline: 3px solid yellow;
    border: 2px solid black;
    background: black;
}

.slick-prev {
    display: block;
    left: 1842.6;
    z-index: 1;
    &::before {
        content: '→';
    }
}

.slick-next {
    display: block;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 27px;
    height: 90px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: white;
    opacity: .6;
    outline: 3px solid yellow;
    border: 2px solid black;
    background: black;
}

.slick-next {
    display: block;
    right: 1842.6;
    z-index: 1;
    &::before {
        content: '←';
    }
}

.slick-prev::before,
.slick-next::before {
    font-family: $font-slick;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
}